@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #72727214;
    color: #000000;
}

.sidebar {
    width: 15% auto;
    height: 100vh;
    background-color: #363636;
    color: rgb(0, 0, 0);
    padding: 20px;
    box-sizing: border-box;
    position: fixed;

}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 8px;
}

.sidebar ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: block;
    padding: 10px;

}

.sidebar ul li a:hover {
    background-color: #717171;
    border-radius: 10px;
}

.logo span{
    font-size: 20px;
}

#closeSidebarBtn{
    color: #ff0000;
    cursor: pointer;
    border: none;
}


.sidebar-item li{
    font-size: 15px;
}

.sidebar-item span{
    font-size: 20px;
}

.sidebar-item span:hover{
    color:none;
}


.content {
    margin-left: 250px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.shadow {
    box-shadow: 30px 30px 20px rgba(0, 0, 0, 0.1);
}

button{
        background-color: #575757;

}

.sidebar {
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.sidebar.active {
    transform: translateX(0);
}

#toggleSidebarBtn {
    position: fixed; /* O puedes usar `absolute` dependiendo de tu layout */
    top: 20px; /* Ajusta según sea necesario */
    left: 20px; /* Ajusta para que no quede oculto por el sidebar */
    z-index: 1000; /* Asegura que el botón esté sobre otros elementos */
    background-color: white; /* O cualquier otro estilo que necesites */
    color: white; /* Color del texto/icono */
    border: none; /* Opcional: elimina el borde del botón */
    cursor: pointer; /* Cambia el cursor a una mano para indicar que es clickeable */
    padding: 10px; /* Ajusta el padding según necesites */
    border-radius: 5px; /* Opcional: para bordes redondeados */

}

.transparent-background {
    background-color: transparent !important;
}

h1,h2,h3,h4,h5,h6     {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.container{
    background-color: #ffffff;
}

p{
    font-size: 20px;
    font-family: "Roboto", sans-serif;
}

li{
    font-size: 20px;
    font-family: "Roboto", sans-serif;
}

:root{
    --primary:#ff7b00;
    --danger:#ff0000;
}
.butt{
    color: white;
    background-color: var(--primary);
}

.buttt{
    color: var(--primary);
}

.butt:hover{
    color: #ff7b00;
    border: 2px solid #ff7b00;
}

.CBbut{
    color: var(--danger);
}

.CBbutt{
    background-color: var(--danger);
    color: #ffffff;
}

.CBbutt:hover{

    color: #ff0000;
    border: 2px solid #ff0000;
}